@use './css/palette.scss' as *;

.App {
  text-align: center;
}

.App-header {
  background-color: $dark;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header {
  color: white;
  width: 100%;
  height: 15vh;

  display: flex;
  padding: 20px 0;
  z-index: 100;
}

.left {
  display: flex;
  margin-left: 3em;
}

.logo_text {
  margin-left: 1em;
  margin-top: auto;
  margin-bottom: auto;
}

.right {
  margin-left: auto;
  margin-right: 3em;
}

.media_link {
  background-color: $light;
  border-radius: 50%;
  width: 2.5em;
  padding: 0.5em;
  margin-right: 0.5em;
}

.Main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
}

.hidden {
  display: none !important;
}

.page {
  display: flex;
  width: 100%;
  height: 100%;
}

.card {
  background-color: seashell;
  border-radius: 0.25em;
}

.start_screen {}

.side {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.humans {
  background-color: lightblue;
}

.robots {
  background-color: lightcoral;
}

.start_pos {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  top: 50%;
}

.start_btn {
  background-color: rgb(78, 30, 192);
  color: white;
  padding: 0.5em 1.5em;
  outline: none;
  border: none;
  border-radius: 0.25em;
}

.start_btn:hover {
  background-color: rgb(44, 9, 126);
}

//select
.select_screen {
  padding: 2em 3em;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1em;
}

.select_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}

.selected_character{
  width: 100%;
  height: 100%;
  margin-bottom: 1em;
  background-color: aquamarine;
}

.options {
  width: 100%;
  height: 100%;
}

.fight_btn {
  background-color: rgb(218, 46, 40);
  color: white;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 0.25em;
}

.selected_img{
  margin-left: auto;
  margin-right: auto;
}
/**/

.side_selected_char {
  width: 50%;
  margin-right: 3em;
}

.selected_char {
  width: 100%;
  height: 100%;
}

.column {
  flex-direction: column;
}

.stats {
  display: flex;
  flex-direction: column;
  background-color: rebeccapurple;
}

.Footer {
  background: $bg;
  width: 100%;
  height: 5vh;
  font-size: 0.75em;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

/*
API CSS
*/
.API{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
}

.api_container{
  padding: 4em 6em;
  width: 100%;
  height: 100%;
}

.api_card{
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
}